h1 {
  text-align: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 400px;
  margin: auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
}

p1 {
  color: gray;
  font-size: larger;
}
table {
  margin: auto;
}

td {
  padding: 10px;
  text-align: center;
}

h3 {
  margin-top: 0;
}

button {
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
}

.button-container {
  margin-top: 20px;
  height: 5vh;
}
